.admin-login {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #F0F0F0;
        height: 100vh;
    }

    &-form {
        background: #FFFFFF;
        width: 408px;
        border-radius: 8px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-press {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-top: 24px;
    }

    &-text-input {
        position: static;
        width: 70px;
        height: 20px;
        left: 0px;
        top: 0px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #B3B3B3;
        ;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
    }

    &-form-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 36px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 8px;
        order: 3;
    }

    &-logo {
        position: relative;
        padding-bottom: 43px;
        &-title {
            position: relative;
            top:10px;
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 48px;
            color: #4484FF;
            flex-grow: 0;
            top: 10px;
        }
    }
}